.listItem p {
    display: inline;
}

.listItem {
    list-style: none;
}

.listItem a {
    text-decoration: none;
    text-underline: none;
    color: #000;
    border: solid 1px black;
    background-color: #a92f3c;
    padding: 2px;
}

#taskTitle {
    font-size: 4em;
    text-align: center;
    margin: 0;
}